/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 8, 2018, 9:37:15 PM
    Author     : Luxury
*/

.addBobOk{
    -fx-background-color:#90EE90;
    -fx-background-radius: 5,5,4;
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-alignment: center;
}
.addBobOk:hover{

    -fx-background-color:#64EE64;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-alignment: center;
}
.busy{

    -fx-background-color: #DD7E5D; 
    -fx-text-alignment: center;
}
.busy:hover{

    -fx-background-color: #93543E;

    -fx-text-alignment: center;
}
